
h1 {
    text-align: center;
}

.container {

    width: 65%;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
.container2 {
    width: 100%;
    margin: 0 auto;
    clear: both;
}
#masthead {
    position: fixed;
    z-index: 0;
    width: 100%;
    margin: 0 0 0px;
    overflow: auto;
    color: #ffffff;
  }
  
  #logo {
    float: left;
    width: 240px;
    height: 208px; 
    background: transparent;
    margin-top: 0;
    margin-left: 0;
  }

  #how-to-play-button {
      margin-right: 80px;
      color: black;
      font-size: x-large;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  nav {
    float: right;
    margin-top: 25px;
  }

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }

.boxes {
 height: 50%;
 width: 100%
}

.priorities {
    /* border: 1px solid black; */
    height: 10%;
    text-align: center;
    width:67%;
    margin: 0 auto;


}

.backBurner {
    height: 20%;
    /* border: 1px solid black; */
    text-align: center;
    width:67%;
    margin: 0 auto;
    margin-top: 5px;;
}

.howTo {
    margin-left: 84%;
}

.input {
    background-color: rgba(0, 0, 0, 0);
    width: 60%;
    height: 10%;
    /* opacity: 0.1; */
    color: black;
    font-weight: inherit;
 
}
.textArea {
    background-color: #ffffff00;
    width:98%;
    margin: 0 auto;
}

.modal-content {
    background-color: lightgray;
    display: none;
}

.fa-exclamation {
    padding-right: 6px;

}
.fa-thumbs-up {
    padding-right: 16px;
}

.checkbox{
    margin-left: 25px;
}

.src {
width:100%;
position: absolute;
top:0;
left:0;
}

.pBtn {
    width: 20%;
    font-size: 80%;
    margin-bottom: 5px;
}

.bBtn {
    width: 25%;
    font-size: 80%;
}

@media (min-width: 320px){
    .input {
    height: 5px;
    }
    .checkbox{
        font-size: 10px;
    }
}

@media (min-width: 375px)  {
    /* For mobile: */
 
    .priorities {
       margin-top: 8%;}
       .input {
          height: 2vh;
          margin-bottom: 3vh;
       }
 
       
}

@media (min-width: 1022px){
    .priorities {
        margin-top: 12%;
        
    }
}
body {
    background-image: url("assets/ntPd.jpg"); 
  background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
}
#drink-modal{
    display: none;
    background-color: red;
}
#gif-modal{
    display: none;
}
#input-area{
    width: 20%;
    height: 80px;
}