/* attempt on media query for mobile lines 1- 20 */
 /* [class*="col-"] {
    width: 100%;
  } */

/* @media (max-width: 1366px)  { */
    /* For mobile: */
/*  
    .priorities {
        padding-top: 5%;}
     */
  
h1 {
    text-align: center;
}

.container {

    width: 65%;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
.container2 {
    width: 100%;
    margin: 0 auto;
    clear: both;
}
#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
  }
  
  #logo {
    float: left;
    width: 28%;
    height: 40px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #5455527a;
  }
  
  nav {
    float: right;
    margin-top: 25px;
  }

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }

.boxes {
 height: 50%;
 width: 100%
}

.priorities {
    border: 1px solid black;
    height: 10%;
    text-align: center;
    width:67%;
    margin: 0 auto;
    margin-top: 0px; 

}

.backBurner {
    height: 20%;
    border: 1px solid black;
    text-align: center;
    width:67%;
    margin: 0 auto;
}

.howTo {
    margin-left: 84%;
}

.input {
    background-color: rgba(238, 238, 238, 0);
    width: 60%;
    height: 10%;
 
}

.modal-content {
    background-color: lightgray;
    display: none;
}

.fa-exclamation {
    padding-right: 6px;

}
.fa-thumbs-up {
    padding-right: 16px;
}

.checkbox{
    margin-left: 25px;
}

.src {
width:100%;
position: absolute;
top:0;
left:0;
}

@media (min-width: 500px)  {
    /* For mobile: */
 
    .priorities {
       margin-top: 10%;}
}

@media (min-width: 1022px){
    .priorities {
        margin-top: 12%;
    }
}